.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: yellow;
    padding: 10em;
    align-items: center;
}

.box {
    border: 4px solid red;
    background: lightgreen;
    border-radius: 10px;
    font-size: large;
    height: 400px;
    width: 400px;
    transition: all 4s ease-in-out;
}

.box:hover {
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1:hover {
    transform: rotate(3600deg);
    /* transform is to customize the shape of the box element. Format would be like transform: property(variable_value_for_the_property);*/
    /* padding: 2em; */
}

#box2:hover {
    transform: scale(1.5);
    /* this increases the box size of the element */
}

#box3:hover {
    transform: skew(20deg);
    /* skew creates a paralellogram with the given angle */
}

#box4:hover {
    transform: translate(120px, 120px);
    /* this moves the box from its postion. Foramt = (x,y)  */
}